Planning Room

<table>
  <thead>
    <th>User</th>
    <th>Points</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id='<%= user %>'>
        <td><%= user %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var room = <%= cookies[:room] %>
</script>

<%= javascript_pack_tag 'planning_room' %>